---
import MainLayout from "../../layouts/MainLayout.astro";
import PostComponent from "../../components/PostComponent.astro";

const allPosts = await Astro.glob("./*.md");
---

<MainLayout title="Blog">
  <div class="border-2 h-[50vh] flex flex-col justify-center align-middle">
    <h1>Blog</h1>
    <div class="flex justify-center align-middle">
      <div class="flex flex-col w-[80vw]">
        {
          allPosts.map((post) => (
            <a href={post.url}>
              <PostComponent
                title={post.frontmatter.title}
                description={post.frontmatter.description}
              />
            </a>
          ))
        }
      </div>
    </div>
  </div>
</MainLayout>
