---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About">
  <h1>About</h1>
  <p>Lanciami degli algorand: UDHUM2MHMIFWUKRMYOXAOQHOD4KEAKM6WB46ZSMRNSEK45TRHQL3FB7EFQ</p>
  <p>(ﾉ◕ヮ◕)ﾉ*:・ﾟ✧</p>
</MainLayout>
