<div class="flex justify-center">
  <div class="w-[90vw] h-[5vh] flex justify-between items-center">
    <div class="">
      <h1><a href="/">Kanopo</a></h1>
    </div>
    <div class="w-[40vw] flex justify-around">
      <a href="/"><h2>Home</h2></a>
      <a href="/blog"><h2>Blog</h2></a>
      <a href="/about"><h2>About</h2></a>
    </div>
  </div>
</div>


