---
interface Props {
  title?: string;
  description?: string;
}

const { title = "Default title", description = "Default description" } =
  Astro.props as Props;

import Header from "../components/Header.jsx";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <link rel="apple-touch-icon" href="/favicon.png" />
    <title>{title}</title>
  </head>
  <body>
    <Header client:only="react"/>
    <div class="h-[90vh] w-[100vw] flex justify-center items-center">
      <div class="h-[80vh] w-[80vw]">
        <slot />
      </div>
    </div>
    <Footer />
  </body>
</html>

<style is:global>
  * {
    --text-light: #282828;
    --accent1-light: #458588;
    --accent2-light: #af3a03;

    --bg-light: #fbf3c7;

    --text-dark: #fbf3c7;
    --accent1-dark: #458588; /* blue */
    --accent2-dark: #af3a03; /* orange */

    --bg-dark: #282828;

    scroll-behavior: smooth;
    scroll-padding: 2rem;
  }

  @media (prefers-color-scheme: dark) {
    * {
      color: var(--text-dark);
      background-color: var(--bg-dark);
    }

    h1 {
      color: var(--accent1-dark);
    }

    h2 {
      color: var(--accent2-dark);
    }
  }

  @media (prefers-color-scheme: light) {
    * {
      color: var(--text-light);
      background-color: var(--bg-light);
    }

    h1 {
      color: var(--accent1-light);
    }

    h2 {
      color: var(--accent2-light);
    }
  }
</style>
